<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	New Users: Click "Sign up Now!" on the Home page to sign up!
</p>

<p>
	Returning Users: If you forgot to sign out, don't worry! we remember you! 
	If you haven't signed in, click "Sign In" and provide us with you email and password.
</p>

<p>
	Events: To create an event, simply press "Create an Event Now!", and follow the on screen directions!
</p>
